@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

*{
  font-family: 'Inter', sans-serif !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
.active{
  background: transparent !important;
  color: red !important;
  font-weight: 700 !important;
  box-sizing: border-box !important;
  scale: 105%;
}

ul > li :hover{
  background: transparent !important;
  animation-duration: 700ms !important;
  color: red !important;
  font-weight: 700 !important;
  border-radius: 50px !important;
}